<!DOCTYPE html>
<!-- Agregamos el namespace para porder trabajar con Thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org">
<!--  Con th:replace de Thymeleaf reemplazamos esta cabecera por la identificada con 'head' dentro de la vista 'layout' incluida en la carpeta 'layout' de 'templates' -->
<head th:replace="layout/layout :: head"></head>

<!-- Todos o la mayoría de estilos usados en esta plantilla son de Bootstrap -->
<!-- En Thymeleaf,'@' se usa para especificar rutas o urls,y '$' se usa para acceder al contenido de alguna variable o instancia que le pasamos desde algún controlador -->

<body>
	<!--  Con th:replace de Thymeleaf reemplazamos esta cabecera de página por la identificada con 'header' dentro de la vista 'layout' incluida en la carpeta 'layout' de 'templates' -->
	<header th:replace="layout/layout :: header"></header>
	<!-- Con my-4 de Bootstrap damos un padding en el eje y de tamaño 4 -->
	<div class="container py-4">
		<!-- Tarjeta de Bootstrap -->
		<div class="card bg-light">
			<!-- Obtenemos del controlador el atributo 'titulo' y lo mostramos con th:text de Thymeleaf-->
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
			    <h4 class="card-title">
			    	<!-- Con th:href de Thymeleaf navegamos a la ruta '/form'.Las rutas siempre se indican con '@{}' -->
			    	<a class="btn btn-primary btn-xs" th:href="@{/form}">Crear Cliente</a>
			    </h4>
			    <!--  Tabla con los datos de los clientes -->
				<table class="table table-striped table-bordered">
					<thead class="thead-inverse">
						<tr>
							<th>id</th>
							<th>nombre</th>
							<th>apellido</th>
							<th>email</th>
							<th>fecha</th>
							<th>editar</th>
							<th>eliminar</th>
						</tr>
					</thead>
					<tbody>
						<!-- Con th:each de Thymeleaf usamso la variable "cliente" para iterar la lista de clientes contenida en el atributo "clientes" que se le pasa desde el controlador -->
						<tr th:each="cliente:${clientes}">
							<!-- Con th:text mostramos el valor de las propiedades "id","nombre","apellido","email" y "fecha" del objeto contenido en la variable "cliente" -->
							<td th:text="${cliente.id}"></td>
							<td th:text="${cliente.nombre}"></td>
							<td th:text="${cliente.apellido}"></td>
							<td th:text="${cliente.email}"></td>
							<td th:text="${cliente.fecha}"></td>
							<!-- Con th:href de Thymeleaf navegamos a la ruta '/form/' + cliente_id.Las rutas siempre se indican con '@{}' -->
							<td><a class="btn btn-primary btn-xs" th:href="@{/form/} + ${cliente.id}">editar</a></td>
							<!-- Con th:href de Thymeleaf navegamos a la ruta '/eliminar/' + cliente_id.Las rutas siempre se indican con '@{}' -->
							<!-- Asociamos en el evento "OnClick" del bóton un metodo en javascript para confirmar al usuario si realmente desea eliminar el cliente -->
							<td><a class="btn btn-danger btn-xs" th:href="@{/eliminar/} + ${cliente.id}"  onclick="return confirm('Estas seguro?')">eliminar</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!--  Con th:replace de Thymeleaf reemplazamos este footer o pie de página por el identificado con 'footer' dentro de la vista 'layout' incluida en la carpeta 'layout' de 'templates' -->
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>